@use "modules" as *;

/* 사용자 페이지 scss ============================== */

/* 대시보드 ============================== */
// 고장신고/배차 현황
.dispatch {
  &__title-wrap {
    display: flex;
    align-items: center;
    gap: rem(8px);
  }
  &__icon {
    width: rem(36px);
    height: rem(36px);
    background-color: $color-secondary-1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      width: rem(20px);
      height: rem(20px);
    }
  }
  &__title {
    font-size: rem(16px);
    font-weight: 600;
    line-height: rem(22px);
    color: $color-gray-9;
  }
  &__desc {
    position: relative;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    color: $color-gray-8;
    padding-left: rem(44px);
    margin-top: 8px;
    &::before {
      position: absolute;
      top: 0;
      left: 16px;
      content: "";
      display: block;
      width: 4px;
      height: 100%;
      background-color: $color-gray-2;
    }
  }
  &__button {
    margin-top: rem(16px);
  }
}
// 오늘 주행거리
.mileage {
  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    .icon {
      width: rem(20px);
      height: rem(20px);
    }
    .title {
      font-size: rem(16px);
      font-weight: 600;
      line-height: rem(22px);
      color: $color-gray-9;
    }
  }
  &__desc {
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    color: $color-gray-8;
  }
}

/* 스마트키 ============================== */
.smartKey-ani {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: rem(58px);
  &__text-wrap {
    margin-top: rem(40px);
    text-align: center;
  }
  &__title {
    display: block;
    font-size: rem(18px);
    font-weight: 600;
    line-height: rem(22px);
    color: $color-gray-9;
  }
  &__desc {
    display: block;
    font-size: rem(15px);
    font-weight: 400;
    line-height: rem(22px);
    color: $color-gray-8;
    margin-top: 14px;
  }
}

.animation-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: rem(235px);
  height: rem(235px);
  .fade-out {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: rem(65px);
    height: rem(65px);
    border-radius: 50%;
    background: rgba(255, 130, 0, 0.4);
    &::before,
    &::after {
      content: "";
      position: absolute;
      background: rgba(255, 130, 0, 0.4);
      width: rem(65px);
      height: rem(65px);
      border-radius: 50%;
      animation: fade 2.5s infinite linear;
    }
    &::after {
      opacity: 0;
      animation: fade 2.5s 1s infinite linear;
    }
  }
  .core-img {
    position: absolute;
    z-index: 5;
    width: rem(65px);
    height: rme(65px);
    object-fit: cover;
  }
  &.red {
    .fade-out {
      background: rgba(242, 77, 64, 0.4);
      &::before,
      &::after {
        background: rgba(242, 77, 64, 0.4);
      }
    }
  }
  &.green {
    .fade-out {
      background: rgba(39, 189, 107, 0.4);
      &::before,
      &::after {
        background: rgba(39, 189, 107, 0.4);
      }
    }
  }
}

// fade-out animation
@keyframes fade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}
