@use "modules" as *;

/* 사용자 페이지 scss ============================== */

/* 스마트키 ============================== */

.smartKey-ani {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding-top: rem(58px);
  &__text-wrap {
    margin-top: rem(40px);
    text-align: center;
  }
  &__title {
    display: block;
    font-size: rem(18px);
    font-weight: 600;
    line-height: rem(22px);
    color: $color-gray-9;
  }
  &__desc {
    display: block;
    font-size: rem(15px);
    font-weight: 400;
    line-height: rem(22px);
    color: $color-gray-8;
    margin-top: 14px;
  }
}

.animation-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: rem(235px);
  height: rem(235px);
  .fade-out {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: rem(65px);
    height: rem(65px);
    border-radius: 50%;
    background: rgba(255, 130, 0, 0.4);
    &::before,
    &::after {
      content: "";
      position: absolute;
      background: rgba(255, 130, 0, 0.4);
      width: rem(65px);
      height: rem(65px);
      border-radius: 50%;
      animation: fade 2.5s infinite linear;
    }
    &::after {
      opacity: 0;
      animation: fade 2.5s 1s infinite linear;
    }
  }
  .core-img {
    position: absolute;
    z-index: 5;
    width: rem(65px);
    height: rme(65px);
    object-fit: cover;
  }
  &.red {
    .fade-out {
      background: rgba(242, 77, 64, 0.4);
      &::before,
      &::after {
        background: rgba(242, 77, 64, 0.4);
      }
    }
  }
  &.green {
    .fade-out {
      background: rgba(39, 189, 107, 0.4);
      &::before,
      &::after {
        background: rgba(39, 189, 107, 0.4);
      }
    }
  }
}

// fade-out animation
@keyframes fade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}
