@use "modules" as *;

//---------------------------------------------------
// reset : 초기화 스타일
//---------------------------------------------------

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: #fff;
}

html {
  font-size: $default-font-size;
}

body {
  background: #fff;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  word-break: break-all;
  color: initial !important;
  font-size: 15px;
  min-width: auto !important;
}

body,
input,
select,
textarea,
button {
  border: none;
  color: #888;
  font-family: "Pretendard", "Roboto", Arial, AppleGothic, verdana, sans-serif !important;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

fieldset {
  border: 0;
}

img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
}

address,
cite,
code,
em {
  font-style: normal;
  font-weight: normal;
}

label,
img,
input,
select,
textarea,
button {
  vertical-align: middle;
}

.hide,
caption,
legend {
  line-height: 0;
  font-size: 1px;
  overflow: hidden;
}

hr {
  display: none;
}

main,
header,
section,
nav,
footer,
aside,
article,
figure {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
  background: 0;
  cursor: pointer;
}

select {
  // background: #fff url($path-img-ico + 'ico_arrow_select_def.svg') no-repeat right 10px top 50% / 16px;
  appearance: none;
  cursor: pointer;
}

input,
textarea {
  appearance: none; /* 브라우저의 기본 스타일을 제거합니다. */
  border: none; /* 테두리를 제거합니다. */
  outline: none; /* 외곽선을 제거합니다. */
  background-color: transparent; /* 배경색을 투명하게 설정합니다. */
  margin: 0; /* 마진을 제거합니다. */
  padding: 0; /* 안쪽 여백을 제거합니다. */
  font-family: inherit; /* 폰트 패밀리를 상위 요소로부터 상속받습니다. */
  font-size: inherit; /* 폰트 크기를 상위 요소로부터 상속받습니다. */
  line-height: inherit; /* 줄 높이를 상위 요소로부터 상속받습니다. */
  vertical-align: middle; /* 수직 정렬을 가운데로 설정합니다. */
  box-sizing: border-box; /* 상자 모델을 변경하여 패딩과 테두리를 요소의 크기에 포함시킵니다. */
  /* 추가적인 스타일을 필요에 따라 적용합니다. */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

// input[type="password"] {
//   font-size: 20ㅔㅌ;
// }

textarea {
  resize: none; /* textarea의 크기 조절 기능을 비활성화합니다. */
}

// input,
// textarea {
//     caret-color: #0565f0; /* 텍스트 커서의 색상을 빨간색으로 설정합니다. */
// }

// input {
//   &[type="text"][class*="md"],
//   &[type="tel"][class*="md"],
//   &[type="time"][class*="md"],
//   &[type="text"][class*="md"],
//   &[type="password"][class*="md"],
//   &[type="search"][class*="md"],
//   &[type="email"][class*="md"],
//   &[type="file"][class*="md"],
//   &[type="url"][class*="md"],
//   &[type="number"][class*="md"],
//   &[type="date"][class*="md"] {
//     height: 50px;
//     padding: 0 12px;
//     border-radius: 4px;
//     vertical-align: middle;
//   }
// }

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// textarea {
//   width: 100%;
//   // font-size: 1.6rem;
//   // color: #111;
//   // padding: 5px 0;
//   // border: 1px solid #e9e9e9;
//   background: #fff;
//   -webkit-appearance: none;
//   -webkit-border-radius: 0;
//   appearance: none;
//   border-radius: 0px;

//   &[readonly],
//   &[disabled] {
//     padding: 11px;
//     font-size: 1.6rem;
//     color: #666;
//     font-weight: normal;
//     line-height: 140%;
//     height: 78px;
//     background-color: #f9f9f9;
//     border: 1px solid #e6e6e6;
//   }

//   &::-webkit-input-placeholder {
//     color: #b5b5b5;
//     font-size: 1.6rem;
//     line-height: 100%;
//   }

//   &:focus {
//     border: 1px solid #111;
//   }
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::-ms-input-placeholder,
input::placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

input::-ms-input-placeholder {
  color: #999;
}

textarea:-ms-input-placeholder {
  color: #999;
}

textarea::-ms-input-placeholder {
  color: #999;
}

// light mode
:root {
  color-scheme: light;
}
