@use "modules" as *;

/* 바텀 네비게이션 컴포넌트 ============================== */

.buttomNavigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: rem(60px);
  padding-bottom: rem(10px);
  &__inner {
    width: 100%;
    height: 100%;
  }
  &__nav {
    display: flex;
    align-items: center;
    padding: 0 rem(12px);
  }
  &__item {
    width: calc(100% / 5);
  }
  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: rem(28px);
    height: rem(28px);
    background-color: $color-disabled-1;
  }
  &__title {
    font-size: rem(10px);
    font-weight: 700;
    line-height: rem(16px);
    color: $color-gray-7;
  }
}
