@use "modules" as *;

/* 바텀 네비게이션 컴포넌트 ============================== */

.buttomNavigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: rem(60px);
  padding-bottom: rem(10px);
  &__inner {
    width: 100%;
    height: 100%;
    padding-top: rem(4px);
  }
  &__nav {
    display: flex;
    align-items: center;
    padding: 0 rem(12px);
  }
  &__item {
    width: calc(100% / 5);
  }
  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.on {
      .buttomNavigation__title {
        color: $color-gray-10;
      }
      .buttomNavigation__icon {
        &.home {
          background: url(../img/icon/icon_home_on.svg);
        }
        &.smart-key {
          background: url(../img/icon/icon_smartKey_on.svg);
        }
        &.car-state {
          background: url(../img/icon/icon_carState_on.svg);
        }
        &.my-pattern {
          background: url(../img/icon/icon_myPattern_on.svg);
        }
        &.more {
          background: url(../img/icon/icon_more_on.svg);
        }
      }
    }
  }
  &__icon {
    width: rem(28px);
    height: rem(28px);

    &.home {
      background: url(../img/icon/icon_home.svg);
    }
    &.smart-key {
      background: url(../img/icon/icon_smartKey.svg);
    }
    &.car-state {
      background: url(../img/icon/icon_carState.svg);
    }
    &.my-pattern {
      background: url(../img/icon/icon_myPattern.svg);
    }
    &.more {
      background: url(../img/icon/icon_more.svg);
    }
  }
  &__title {
    font-size: rem(10px);
    font-weight: 700;
    line-height: rem(16px);
    color: $color-gray-7;
  }
}
