@use "modules" as *;

/* 헤더 컴포넌트 ============================== */
.header {
  width: 100%;
  height: rem(44px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $color-white;
  padding: 0 rem(10px);
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: rem(10px) 0;
  }
  &__title-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(60px);
  }
  &__title {
    font-size: rem(20px);
    font-weight: 600;
    line-height: rem(24px);
    color: $color-gray-11;
    .logo-img {
      width: rem(60px);
      object-fit: cover;
    }
  }
  &__action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .left-action {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
    .action-btn {
      width: rem(44px);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__icon {
        display: block;
        object-fit: cover;
      }
      &.before {
        .action-btn__icon {
          width: rem(24px);
          height: rem(24px);
        }
      }
    }
  }

  // 타이틀 위치
  &.align-left {
    .header__title-wrap {
      justify-content: start;
      padding: 0 rem(10px);
    }
  }
}
