@use "modules" as *;

/* ----------------------- 레이아웃 ----------------------- */
.content {
  position: relative;
  width: 100%;
  height: 100%;
  // min-height: 100vh;
  min-height: 100dvh;
  padding: rem(44px) 0 rem(74px);

  .inner {
    width: 100%;
    height: 100%;
    padding: 0 rem(20px) rem(30px);
    overflow-y: auto;
  }

  &--full {
    padding: 0;
    .inner {
      padding-bottom: rem(94px);
    }
    .button-wrap {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding-bottom: rem(32px);
    }
  }
}

/* page title ============================== */
.page-title {
  margin: rem(30px) 0 rem(30px);
  .title {
    font-size: rem(18px);
    line-height: rem(22px);
    font-weight: 700;
    color: $color-gray-11;
  }
  .sub-title {
    margin-top: rem(12px);
    font-size: rem(15px);
    line-height: rem(22px);
    color: #363f4d;
  }
  &.type-strong {
    .title {
      font-weight: 400;
    }
  }
}

/* 회사코드입력 title ============================== */
.company {
  .page-title {
    margin: rem(64px) 0 rem(30px);
    .title {
      font-size: rem(26px);
      line-height: rem(34px);
      font-weight: 700;
      color: $color-gray-11;
    }
    .sub-title {
      margin-top: rem(12px);
      font-size: rem(15px);
      line-height: rem(22px);
      color: #363f4d;
    }
  }
}

/* form layout ============================== */
.form-box {
  &__item {
    ~ .form-box__item {
      margin-top: rem(26px);
    }
  }
}

/* 로그인 ============================== */
.login {
  .inner {
    padding-bottom: rem(124px);
  }
  .logo-area {
    height: rem(150px);
    background-color: $color-gray-2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
    .logo {
      width: 100%;
      max-width: rem(375px);
    }
  }
  .form-box__list {
    .form-box__item:last-child {
      margin-top: rem(20px);
    }
  }
  .login-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .button-wrap {
      position: static;
      padding: rem(12px) rem(16px);
    }
    .buttonGroup {
      padding: rem(10px) rem(10px) rem(20px);
      background-color: $color-white;
    }
  }
}

/* section ============================== */
.section {
  &__title {
    margin: rem(30px) 0;
    .title {
      font-size: rem(20px);
      font-weight: 700;
      line-height: rem(24px);
      color: $color-gray-11;
    }
  }
}

/* search ============================== */
.search-result {
  &.none-result {
    $root: ".none-result";
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(110px) 0;

    #{$root}__content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(16px);
      flex-direction: column;
    }
    #{$root}__img {
      width: rem(44px);
      height: rem(44px);
    }
    #{$root}__text {
      font-size: rem(14px);
      font-weight: 400;
      line-height: rem(20px);
      color: $color-gray-7;
    }
  }
}
