@use "modules" as *;

/* ----------------------- 공통 ----------------------- */

// 영역 숨김처리
.hidden {
  @include blind;
}

// body 스크롤 막기
body.js-noscroll {
  overflow: hidden;
  touch-action: none;
}

// 좌우로 영역 넓히기
.expendPad {
  margin-left: rem(-20px) !important;
  margin-right: rem(-20px) !important;
  padding-left: rem(20px) !important;
  padding-right: rem(20px) !important;
}

// margin
.mt20 {
  margin-top: rem(20px) !important;
}
.mt44 {
  margin-top: rem(44px) !important;
}

// font-weight
.fw700 {
  font-weight: 700 !important;
}

// infomation
.infomation {
  margin-top: rem(8px);
  &__text {
    font-size: rem(12px);
    font-weight: 500;
    line-height: rem(18px);
  }
  &.erorr {
    .infomation__text {
      color: $color-erorr;
    }
  }
}
.icon-info {
  display: flex;
  align-items: center;
  gap: rem(16px);

  &__icon {
    width: rem(40px);
    height: rem(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-gray-8;
    border-radius: 16px;
    .icon {
      width: rem(20px);
      height: rem(20px);
    }
  }
  &__text {
    font-size: rem(14px);
    font-weight: 500;
    color: $color-gray-9;
    line-height: rem(20px);
  }
}

// gray box
.gray-box {
  width: 100%;
  padding: rem(16px) rem(20px);
  border-radius: 16px;
  background-color: $color-gray-2;
}
// shadow box
.shadow-box {
  width: 100%;
  padding: rem(18px) rem(24px);
  background-color: $color-white;
  border-radius: 16px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 24px 0 rgba(0, 0, 0, 0.08);
}

// swiper indicator-dot
.custom-indicator {
  position: static;
  width: 100%;
  font-size: 0;
  text-align: center;
  margin-top: rem(113px);

  .swiper-pagination-bullet {
    width: rem(6px);
    height: rem(6px);
    background-color: #d3d3d3;
    border-radius: 6px;
    transition: all 0.2s;
    margin: 0 rem(3.5px) !important;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: #222;
      width: rem(24px);
    }
  }
}

// banner
.banner {
  margin-left: rem(-20px) !important;
  margin-right: rem(-20px) !important;
  background-color: $color-gray-2;
  &__inner {
    display: flex;
    align-items: center;
    padding: rem(18px) rem(24px);
  }
  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    gap: rem(16px);
  }
  &__icon {
    width: rem(24px);
    height: rem(24px);
  }
  &__text {
    display: block;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    color: $color-gray-11;
  }
  &__close {
    display: block;
    width: rem(20px);
    height: rem(20px);
    margin-left: auto;
    flex-shrink: 0;
    .icon {
      background-size: 16px;
      background-position: center;
      filter: invert(68%) sepia(17%) saturate(358%) hue-rotate(176deg) brightness(90%) contrast(93%);
    }
  }
}
