@use "modules" as *;

/* ----------------------- 공통 ----------------------- */

.hidden {
  @include blind;
}

// 좌우로 영역 넓히기
.expendPad {
  margin-left: rem(-20px) !important;
  margin-right: rem(-20px) !important;
  padding-left: rem(20px) !important;
  padding-right: rem(20px) !important;
}
