@use "modules" as *;

/* ----------------------- 공통 ----------------------- */

// 영역 숨김처리
.hidden {
  @include blind;
}

// body 스크롤 막기
body.js-noscroll {
  overflow: hidden;
  touch-action: none;
}

// 좌우로 영역 넓히기
.expendPad {
  margin-left: rem(-20px) !important;
  margin-right: rem(-20px) !important;
  padding-left: rem(20px) !important;
  padding-right: rem(20px) !important;
}

// margin
.mt20 {
  margin-top: rem(20px) !important;
}
.mt44 {
  margin-top: rem(44px) !important;
}

// font-weight
.fw700 {
  font-weight: 700 !important;
}

// infomation
.infomation {
  margin-top: rem(8px);
  &__text {
    font-size: rem(12px);
    font-weight: 500;
    line-height: rem(18px);
  }
  &.erorr {
    .infomation__text {
      color: $color-erorr;
    }
  }
}
.icon-info {
  display: flex;
  align-items: center;
  gap: rem(16px);

  &__icon {
    width: rem(40px);
    height: rem(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-gray-8;
    border-radius: 16px;
    .icon {
      width: rem(20px);
      height: rem(20px);
    }
  }
  &__text {
    font-size: rem(14px);
    font-weight: 500;
    color: $color-gray-9;
    line-height: rem(20px);
  }
}

// gray box
.gray-box {
  width: 100%;
  padding: rem(16px) rem(20px);
  border-radius: 16px;
  background-color: $color-gray-2;
}
