@use "modules" as *;

/* 버튼 컴포넌트 ============================== */

/* button basic ============================== */
.button {
  $root: ".button";
  display: block;
  width: 100%;
  min-height: rem(50px);
  padding: rem(14px) rem(16px);
  border-radius: 8px;
  background-color: $color-primary;
  &__text {
    font-size: rem(16px);
    font-weight: 700;
    line-height: rem(22px);
    font-family: "Pretendard";
    color: $color-white;
  }
  &--disabled,
  .button[disabled] {
    cursor: default;
    pointer-events: none;
    background-color: $color-disabled-1;
  }

  // ** secndary 버튼
  &--secondary {
    background-color: $color-secondary-1;
    #{$root}__text {
      color: $color-primary;
    }
  }

  // ** gray 버튼
  &--gray {
    background-color: $color-gray-1;
    #{$root}__text {
      color: $color-gray-7;
    }
  }

  // ** line 버튼
  &--line {
    background-color: $color-white;
    border: 1px solid $color-primary;
    #{$root}__text {
      color: $color-primary;
    }
  }

  &--mini {
    padding: rem(5px) rem(12px);
    width: auto;
    display: inline-block;
    min-height: rem(28px);
    #{$root}__text {
      font-size: rem(13px);
      line-height: rem(2px);
    }
  }
}

// ** buttonGroup
.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
