@use "modules" as *;

/* 버튼 컴포넌트 ============================== */

/* button basic ============================== */
.button {
  $root: ".button";
  display: block;
  width: 100%;
  min-height: rem(50px);
  text-align: center;
  padding: rem(14px) rem(16px);
  border-radius: 8px;
  background-color: $color-primary;
  &__text {
    font-size: rem(16px);
    font-weight: 700;
    line-height: rem(22px);

    font-family: "Pretendard";
    color: $color-white;
  }
  &--disabled,
  .button[disabled] {
    cursor: default;
    pointer-events: none;
    background-color: $color-disabled-1;
  }

  /* secndary 버튼 ============================== */
  &--secondary {
    background-color: $color-secondary-1;
    #{$root}__text {
      color: $color-primary;
    }
  }

  /* gray 버튼 ============================== */
  &--gray {
    background-color: $color-gray-2;
    #{$root}__text {
      color: $color-gray-7;
    }
  }

  /* line 버튼 ============================== */
  &--line {
    background-color: $color-white;
    border: 1px solid $color-primary;
    #{$root}__text {
      color: $color-primary;
    }
  }

  /* text 버튼 ============================== */
  &--text {
    background-color: transparent;
    border: 0;
    display: inline-flex;
    width: auto;
    min-height: auto;
    padding: 0;
    #{$root}__text {
      font-size: rem(14px);
      font-weight: 400;
      line-height: rem(20px);
      color: $color-gray-9;
    }
  }

  /* icon + text 버튼 ============================== */
  &--icon-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: auto;
    min-height: rem(26px);
    padding: rem(6px) rem(12px);
    border-radius: 4px;
    background-color: $color-white;
    border: 1px solid $color-gray-4;
    #{$root}__text {
      font-size: rem(14px);
      font-weight: 400;
      line-height: rem(20px);
      color: $color-gray-9;
    }
    .icon {
      width: rem(16px);
      height: rem(16px);
    }
  }

  &--mini {
    padding: rem(5px) rem(12px);
    width: auto;
    display: inline-block;
    min-height: rem(28px);
    #{$root}__text {
      font-size: rem(13px);
      line-height: rem(2px);
    }
  }
}

/* buttonGroup ============================== */
.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  &__item {
    display: flex;
    align-items: center;
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 10px;
      background-color: $color-gray-4;
      margin: 0 10px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &--dash {
    gap: 0;
  }
}

/* buttonWrap ============================== */
.button-wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: rem(12px) rem(16px);
  background-color: $color-white;
}
