@use "modules" as *;

/* fullpopup 컴포넌트 ============================== */
.fullPopup {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateX(100%);
  opacity: 0;
  &__dim {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  &__panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
  }
  &__inner {
    width: 100%;
    // height: 100%;
    height: 100vh;
    background-color: $color-white;
  }
  &__header {
    position: relative;
    width: 100%;
    padding: 0 rem(10px);
    display: flex;
    align-items: center;
    justify-content: start;
    &.align-center {
      justify-content: center;
    }
  }
  &__title-wrap {
    padding: rem(10px);
  }
  &__title {
    font-size: rem(20px);
    font-weight: 600;
    line-height: rem(24px);
    color: $color-gray-11;
  }
  .action-btn {
    position: absolute;
    top: 0;
    right: 6px;
    width: rem(44px);
    height: rem(44px);
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon {
      width: rem(24px);
      height: rem(24px);
    }
  }
  &__body {
    width: 100%;
    height: calc(100% - rem(44px));
    padding: 0 rem(20px) rem(74px);
    overflow-y: auto;
  }
  &__text {
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(22px);
    color: $color-gray-11;
  }
  &.is-open {
    transform: translateX(0);
    opacity: 1;
  }
}
