@use "modules" as *;

/* 아이콘 모음 ============================== */
.icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-repeat: no-repeat;

  &--left-arrow {
    background-image: url(../img/icon/icon_left_arrow.svg);
  }
  &--bottom-arrow {
    background-image: url(../img/icon/icon_bottom_arrow.svg);
  }
}
