@use "modules" as *;

/* text field 컴포넌트 ============================== */

/* textField basic ============================== */

.textField {
  $root: ".textField";
  &__feild {
    position: relative;
    width: 100%;
  }
  &__label {
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    font-size: rem(14px);
    line-height: rem(20px);
    font-weight: 600;
    color: $color-gray-9;
    line-height: rem(20px);
    .required {
      position: absolute;
      top: 2px;
      right: -12px;
      display: inline-block;
      color: $color-erorr;
    }
  }
  &__input-wrap {
    position: relative;
    width: 100%;
  }
  &__input {
    display: block;
    width: 100%;
    height: rem(44px);
    background-color: $color-gray-1;
    border: 1px solid $color-gray-3;
    border-radius: 8px;
    padding: rem(12px) rem(42px) rem(12px) rem(12px);
    font-size: rem(14px);
    line-height: rem(20px);
    color: $color-gray-9;
    &::placeholder {
      color: #acb0b6;
    }
    &:focus {
      border: 1px solid $color-gray-11;
    }
  }
  &__input-icon {
    position: absolute;
    left: rem(16px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: rem(20px);
    height: rem(20px);
  }
  &__button-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(18px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(5px);
  }
  &__button {
    width: rem(20px);
    height: rem(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    .icon--close {
      width: rem(16px);
      height: rem(16px);
    }
    &.password-view {
      .icon {
        background-image: url(../img/icon/icon_pw_hide.svg);
      }
    }
  }
  .notifText {
    margin-top: 8px;
    &__text {
      font-size: rem(12px);
      line-height: rem(18px);
      color: $color-gray-8;
      &--red {
        color: $color-erorr;
      }
      &--green {
        color: $color-success;
      }
    }
  }

  // erorr
  &.is-erorr {
    .textField__input {
      border-color: $color-erorr;
      background-color: #fff2f1;
    }
    .notifText__text {
      color: $color-erorr;
    }
  }

  // password
  &.is-pw-visible {
    .textField__button.password-view {
      .icon {
        background-image: url(../img/icon/icon_pw_show.svg);
      }
    }
  }

  &--icon {
    .textField__input {
      position: relative;
      padding-left: rem(42px);
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: rem(20px);
        height: rem(20px);
        background-color: blue;
      }
    }
  }
}

/* 회사코드 입력 ============================== */
.company-code {
  margin: rem(30px) 0;
  &__form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  &__label {
    width: rem(50px);
    height: rem(55px);
  }
  &__input {
    width: 100%;
    height: rem(55px);
    padding: rem(17px);
    font-size: rem(18px);
    font-weight: 600;
    line-height: rem(22px);
    color: $color-gray-11;
    border: 1px solid $color-gray-4;
    border-radius: 16px;
    &:focus {
      border-color: $color-primary;
    }
  }

  .notifText {
    display: none;
    margin-top: rem(8px);
    &__text {
      font-size: rem(12px);
      line-height: rem(18px);
      color: $color-erorr;
    }
  }

  // 에러시
  &.erorr {
    .company-code__input {
      border-color: $color-erorr;
    }
    .notifText {
      display: block;
    }
  }
}
