@use "modules" as *;

/* text field 컴포넌트 ============================== */

/* textField basic ============================== */

.textField {
  $root: ".textField";
  &__feild {
    position: relative;
    width: 100%;
  }
  &__label {
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    font-size: rem(14px);
    line-height: rem(20px);
    font-weight: 600;
    color: $color-gray-10;
    line-height: rem(20px);
    .required {
      position: absolute;
      top: 2px;
      right: -12px;
      display: inline-block;
      color: $color-erorr;
    }
  }
  &__input {
    display: block;
    width: 100%;
    height: rem(44px);
    background-color: $color-gray-1;
    border: 1px solid $color-gray-3;
    border-radius: 8px;
    padding: rem(12px) rem(42px) rem(12px) rem(12px);
    font-size: rem(14px);
    line-height: rem(20px);
    color: $color-gray-10;
    &::placeholder {
      color: #acb0b6;
    }
    &:focus {
      border: 1px solid $color-gray-11;
    }
  }
  .notifText {
    margin-top: 8px;
    &__text {
      font-size: rem(12px);
      line-height: rem(18px);
      color: $color-gray-9;
      &--red {
        color: $color-erorr;
      }
      &--green {
        color: $color-success;
      }
    }
  }

  // erorr
  &.is-erorr {
    .textField__input {
      border-color: $color-erorr;
      background-color: #fff2f1;
    }
    .notifText__text {
      color: $color-erorr;
    }
  }
}
